<div class="exchange-left__top currency">
  <div *ngIf="currencies; else loading">
    <h3 class="currency__title">Ваши валюты</h3>
    <ul class="currency__list">
      <li *ngFor="let currency of currencies" class="currency__item">
        <span class="currency__item-name">{{ currency.code }}</span>
        <span class="currency__item-dotted"></span>
        <span class="currency__item-count">{{ currency.amount }}</span>
      </li>
    </ul>
  </div>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
