<div *ngIf="accounts$ | async as accounts; else loading">
  <div class="accounts-header">
    <h2 class="accounts-header__title">Ваши счета</h2>
    <form [formGroup]="sortForm" class="accounts-header__form">
      <div class="accounts-header__select sort__type">
        <select class="contact__name" formControlName="select">
          <option
            *ngFor="let item of options"
            class="contact__item"
            [disabled]="item.disabled"
            [ngValue]="{ direction: item.sortDirection, type: item.value }"
          >
            {{ item.title }}
          </option>
        </select>
      </div>
      <button (click)="createNewAccount()" class="accounts-header__btn">Создать новый счет</button>
    </form>
  </div>
  <ul class="accounts-list">
    <app-account
      *ngFor="let account of accounts | sort : sortField"
      [account]="account"
      class="accounts-list__item card"
    ></app-account>
  </ul>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
