<div
  *ngIf="accounts$ | async as accounts; else loading"
>
  <div class="accounts-header">
    <h2 class="accounts-header__title">Ваши счета</h2>
    <form
      [formGroup]="sortForm"
      class="accounts-header__form">
      <div class="accounts-header__select sort__type">
        <select
          formControlName="select"
          class="contact__name">
          <option
            ngValue="default"
            disabled
            class="contact__item">Сортировка</option>
          <option
            ngValue="account"
            class="contact__item">По номеру</option>
          <option
            ngValue="balance"
            class="contact__item">По балансу</option>
          <option
            ngValue="transaction"
            class="contact__item">По транзакциям</option>
        </select>
      </div>
      <button
        (click)="createNewAccount()"
        class="accounts-header__btn">Создать новый счет</button>
    </form>
  </div>
  <ul class="accounts-list">
    <app-account
      *ngFor="let account of accounts | sort:select.value"
      [account]="account"
      class="accounts-list__item card"></app-account>
  </ul>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
