$denim: #116ACC;
$mirage: #182233;
$periwinkleGray: #B3CEE2;
$geyser: #D9DDE7;
$carnation: #FD4E5D;

$ebonyClay: #1F2937;
$oxfordBlue: #374151;
$riverBed: #4B5563;
$paleSky: #6B7280;
$grayChateau: #9CA3AF;
$mischka: #D1D5DB;
$athensGray: #F3F4F6;
$white: #FFFFFF;
$anakiwa: #A0C3FF;
$mantis: #76CA66;
$saffronMango: #FBC756;
$guardsmanRed: #BA0000;
$bodyGray: #e5e5e5;

$mainGreen: #32BE4B;
$lightGreen: #ADE446;
$primaryBlack: #1D2027;
$secondaryBlack: #494B4E;
$buttonGray: #ADADAD;
$errorGray: #EB5757;
$black: #000000;
$linkGray: #989898;
$athensGray: #F3F4F6;

