<div class="exchange-left__bottom exchange-form">
  <h3 class="exchange-form__title">Обмен валюты</h3>
  <form class="exchange-form__wrapper">
    <!--      <div class="change-form__select">-->
    <!--        <div class="select__wrapper">-->
    <!--          <label>Из</label>-->
    <!--          <select class="select-wrapper select-from">-->
    <!--            <option value="">AUD</option>-->
    <!--            <option value="">AUD</option>-->
    <!--            <option value="">AUD</option>-->
    <!--            <option value="">AUD</option>-->
    <!--          </select>-->
    <!--        </div>-->
    <!--        <div class="select__wrapper">-->
    <!--          <label>В</label>-->
    <!--          <select class="select-wrapper select-in">-->
    <!--            <option value="">AUD</option>-->
    <!--            <option value="">AUD</option>-->
    <!--            <option value="">AUD</option>-->
    <!--            <option value="">AUD</option>-->
    <!--          </select>-->
    <!--        </div>-->
    <!--      </div>-->
    <div class="change-form__input">
      <label>Из</label>
      <select>
        <option value="">AUD</option>
        <option value="">AUD</option>
        <option value="">AUD</option>
        <option value="">AUD</option>
      </select>
    </div>
    <div class="change-form__input">
      <label>В</label>
      <select>
        <option value="">USD</option>
        <option value="">USD</option>
        <option value="">USD</option>
        <option value="">USD</option>
      </select>
    </div>
    <div class="change-form__input">
      <label>Сумма</label>
      <input type="text" placeholder="Введите сумму">
    </div>
    <button class="change-form__btn" type="submit">Обменять</button>
  </form>
  <span class="exchange-form__error">Ошибка</span>
</div>
