@import "mixins";
@import "variables";

.bill-details {
  padding: 0 50px;
  margin-bottom: 50px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__title {
    @include h2;
    font-size: 34px;
    white-space: nowrap;
    margin-right: 22px;
  }

  &__btn {
    @include button;
    font-size: 16px;
    padding: 13px 24px 13px 56px;
    color: $white;
    cursor: pointer;
    background-image: url('/assets/img/button-arrow.svg');
    background-repeat: no-repeat;
    background-position: 24px center;
  }

  &__btn:hover {
    background-color: $buttonGray;
    transition: background-color .2s ease-in-out;
  }

  &__btn:active {
    background-color: $secondaryBlack;
    color: $white;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__number {
    @include h2;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 1.02px;
  }

  &__description {
    @include h2;
    margin-right: 48px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
  }

  &__balance {
    @include h2;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
  }
}

@media (max-width: 990px) {
  .bill-details {
    padding: 0 25px;

    &__title {
      font-size: 28px;
    }

    &__btn {
      padding: 11px 24px 11px 56px;
    }
  }
  .info {

    &__number {
      font-size: 24px;
    }
  }
}

@media (max-width: 768px) {
  .bill-details {

    &__wrapper {
      flex-direction: column-reverse;
      align-items: start;
    }

    &__title {
      align-self: center;
    }

    &__btn {
      margin-bottom: 10px;
    }
  }
  .info {

    &__number {
      font-size: 18px;
    }

    &__description {
      font-size: 18px;
      margin-right: 24px;
    }

    &__balance {
      font-weight: 500;
      font-size: 18px;
    }
  }
}

@media (max-width: 576px) {
  .bill-details {
    padding: 0 15px;

    &__wrapper {
      align-items: center;
    }

    &__title {
      font-size: 20px;
      margin-right: 0;
    }

    &__btn {
      font-size: 14px;
      padding: 8px 16px 8px 40px;
      background-position: 14px center;
    }
  }
  .info {
    flex-direction: column;

    &__number {
      font-size: 14px;
      font-weight: 500;
      margin: 0 0 10px;
    }

  }
}
