<header class="header">
  <img class="header__logo" src="assets/img/Logo_Atom_black.svg" alt="Лого"
  >
  <nav class="nav"
       [class.nav-active]="mobileMenuOpen"
       *ngIf="isAuth()"
  >
    <a class="nav__item"
       routerLinkActive="active"
       routerLink="/atm"
    >Банкоматы</a>
    <a
      class="nav__item"
      routerLinkActive="active"
      routerLink="/accounts"
    >Счета</a>
    <a
      class="nav__item"
      routerLinkActive="active"
      routerLink="/exchange"
    >Валюта</a>
    <a
      (click)="logout()"
      class="nav__item"
      routerLinkActive="active"
      routerLink="/authorization"
    >Выйти</a>
  </nav>
  <button
    class="burger"
    *ngIf="isAuth()"
    (click)="openMobileMenu()"
    [class.burger-active]="mobileMenuOpen"
  >
    <span class="burger__line"></span>
    <span class="burger__line"></span>
    <span class="burger__line"></span>
  </button>
</header>
