<header class="header">
  <img alt="Лого" class="header__logo" src="assets/img/Logo_Atom_black.svg" />
  <nav *ngIf="isAuth()" [class.nav-active]="mobileMenuOpen" class="nav">
    <a
      *ngFor="let item of navigation"
      (click)="closeMobileMenu()"
      class="nav__item"
      [routerLink]="item.link"
      routerLinkActive="active"
      >{{ item.title }}</a
    >
  </nav>
  <button
    (click)="openMobileMenu()"
    *ngIf="isAuth()"
    [class.burger-active]="mobileMenuOpen"
    class="burger"
  >
    <span class="burger__line"></span>
    <span class="burger__line"></span>
    <span class="burger__line"></span>
  </button>
</header>
