<div
  *ngIf="account$ as account; else loading"
>
  <app-details-header title="Просмотр счёта" [account]="account"></app-details-header>
  <div class="transfer">
    <div class="transfer__wrapper">
      <app-new-transfer
        [accounts]="allAccounts$"
        [from]="account.account"
        (transferDone)="getAccountById()"
      ></app-new-transfer>
      <app-balance-dynamics
        title="Динамика баланса"
        [id]="account.account"
        [transactions]="allTransactions"
        [routerLink]="['/details', account.account]"
      ></app-balance-dynamics>
    </div>
    <app-transfer-history
      [transactions]="lastTransactions"
      [id]="account.account"
    ></app-transfer-history>
  </div>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
