@import "variables";
@import "mixins";

.new-transfer {
  @include grayBlock;
  width: 100%;
  height: 100%;
  min-height: 288px;
  padding: 25px 50px;

  &__title {
    @include h2;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 23px;
  }

  &__wrapper {
    display: flex;
    margin-bottom: 15px;
  }

  &__error {
    @include label;
    display: block;
    color: $errorGray;

    &-invalid {
      @include label;
      font-size: 12px;
      display: block;
      color: $errorGray;
    }
  }

  &__success {
    @include label;
    display: block;
    color: $mainGreen;
  }

  &-form {
    position: relative;
    width: 100%;

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &__input {
      width: 100%;
      min-height: 44px;
      padding-left: 16px;
      border: 1px solid $grayChateau;
      border-radius: 7px;
    }


    &__input::placeholder {
      @include placeholder;
    }

    &__input:focus-visible {
      outline: 0;
      border: 1px solid $denim;
    }

    &__btn {
      @include button;
      padding: 13px 24px 13px 58px;
      color: $white;
      background-image: url('/assets/img/mail-icon.svg');
      background-repeat: no-repeat;
      background-position: 26px center;
    }

    &__btn:hover {
      background-color: $anakiwa;
      transition: background-color .2s ease-in-out;
    }

    &__btn:focus-visible {
      outline: 0;
      border: 1px solid $denim;
    }
  }

}

.input-wrapper {
  width: 100%;
  margin: 0 0 25px;
}

.error {
  border: 1px solid $errorGray;
}

.dropdown {
  position: absolute;
  max-height: 300px;
  padding: 15px;
  overflow-y: auto;
  background-color: $white;
  border: 1px solid $grayChateau;
  border-radius: 7px;

  &-item {
    margin-bottom: 5px;
    cursor: pointer;
  }
}

@media (max-width: 1350px) {
  .new-transfer {
    padding: 25px;
  }
}

@media (max-width: 576px) {
  .new-transfer {
    padding: 25px 15px;
  }
}
