<div class="new-transfer">
  <h2 class="new-transfer__title">Новый перевод</h2>
  <div class="new-transfer__wrapper">
<!--    <div class="new-transfer__label">-->
<!--      <span>Номер счета получателя</span>-->
<!--      <span>Сумма перевода</span>-->
<!--    </div>-->
    <form class="new-transfer__form new-transfer-form">
      <div class="new-transfer-form__wrapper">
        <input class="new-transfer-form__input" type="text" placeholder="Введите счёт получателя">
        <input class="new-transfer-form__input" type="text" placeholder="Введите сумму перевода">
      </div>
      <button class="new-transfer-form__btn">Отправить</button>
    </form>
  </div>
  <span class="new-transfer__error">Ошибка</span>
</div>
