<div class="exchange-right rate">
<h3 class="rate__title">Изменение курсов в реальном времени</h3>
  <ul class="rate__list">
    <li class="rate__item">
      <span class="rate__item-name">RUB/UAH</span>
      <span class="rate__item-dotted-red"></span>
      <span class="rate__item-count-red">84.05</span>
    </li>
    <li class="rate__item">
      <span class="rate__item-name">RUB/UAH</span>
      <span class="rate__item-dotted"></span>
      <span class="rate__item-count">84.05</span>
    </li>
    <li class="rate__item">
      <span class="rate__item-name">RUB/UAH</span>
      <span class="rate__item-dotted"></span>
      <span class="rate__item-count">84.05</span>
    </li>
    <li class="rate__item">
      <span class="rate__item-name">RUB/UAH</span>
      <span class="rate__item-dotted-red"></span>
      <span class="rate__item-count-red">84.05</span>
    </li>
    <li class="rate__item">
      <span class="rate__item-name">RUB/UAH</span>
      <span class="rate__item-dotted-red"></span>
      <span class="rate__item-count-red">84.05</span>
    </li>
  </ul>
</div>
