@import "mixins";
@import "variables";

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  &__title {
    @include h2;
    font-size: 64px;
    color: $mainGreen;
  }

  &__description {
    @include h2;
  }
}
